   




.container-first {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 0 auto;
}
.container-second {
  
  max-width: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin: 0 auto;
}



ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
   }

ul.ks-cboxtags li label::before {
    display: inline-block;    
    padding: 2px 6px 2px 2px;  
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #fd7e14;
    background-color: #fd7e14;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #fd7e14;
}

 .container-second .register{
  background: #fd7e14;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 150px;
  height: 40px;
	border: none;	
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
  margin: 0;
  position: absolute;
 margin-left: 16%;
 margin-top: 25px;  
}

.container-second .register:hover {
	background: #fd7e14;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1200px){
	.container-second .register{
		margin-left: 30%;    
	}
  
}


@media screen and (max-width: 575px) {	
	.container-second .register{    
		margin-left: 31%;   
    margin-bottom: 200px;
	}  
  .container-second {		  
    margin-bottom: 160px;
	}  
} 






















